<main class='success-wrapper'>
    <div class='message'>
        <h1>Congratulations!</h1>
        <p>You have applied to <%= companyName %> for the <%= jobTitle %> position</p>
        <a class="back-btn" href='/companies'>Back to home</a>
    </div>
</main>