* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  line-height: 1.5;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5rem;
}

.header {
  position: relative;
  color: #051534;
}
.header .background-image {
  background: url("/img/background-header.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  inset: 0;
}
.header .header-information {
  z-index: 1;
  position: relative;
}
.header .header-information .company-logo {
  width: clamp(4.6rem, 20%, 6.25rem);
  margin-bottom: 5px;
  max-height: 2rem;
  height: auto;
}
.header .header-information .separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-information .job-title {
  display: inline;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .header .header-information .job-title {
    font-size: 2rem;
  }
}

.back-btn {
  text-decoration: none;
  color: black;
  padding: 15px 40px;
  background-color: white;
  border-radius: 2%;
  border: 1px solid #cfd7e0;
}
.back-btn:hover {
  background-color: whitesmoke;
}

.flex {
  height: 100vh;
}
@media (min-width: 1024px) {
  .flex {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .flex > * {
    flex: 1;
  }
}

.job-info {
  color: darkslategray;
  padding-top: 1.5rem;
}
.job-info > * {
  margin-bottom: 1rem;
}
.job-info .section-header {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.job-info .location-info {
  text-transform: capitalize;
  font-size: 0.875rem;
}
.job-info .list {
  padding-left: 2.5rem;
}

form {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #cfd7e0;
  border-radius: 2%;
}
form h4 {
  font-size: 1.25rem;
}
form label:not(.custom-file-upload) > * {
  display: block;
}
form input:not(input[type=file]):not(input[type=submit]) {
  display: block;
  width: 100%;
  margin-top: 3%;
  padding: 2%;
  font-size: 1rem;
}
form .input-error input {
  border: 2px solid red;
}
form .input-error input::placeholder {
  color: red;
}
form .input-error small {
  color: red;
  margin-left: 2%;
}
form .submit-btn {
  color: white;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 3rem;
  background-color: #3BA384;
  border: none;
  width: 40%;
  font-size: 0.875rem;
  border-radius: 4px;
  cursor: pointer;
}
form .submit-btn:hover {
  background-color: #48c6a0;
}

.resume {
  display: block;
  padding-block: 2rem;
}
.resume .background {
  border: 2px dashed lightgrey;
  background-color: #F5F5F5;
  text-align: center;
  color: #171b1f;
  cursor: pointer;
  padding-block: 1.35rem;
}
.resume .background p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem;
  color: #171b1f;
  margin-block: 0.5rem;
}
.resume input[type=file] {
  display: none;
}
.resume .custom-file-upload {
  background-color: white;
  color: #2d687c;
  border: 1px solid #ccc;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  border-radius: 4px;
}
.resume .custom-file-upload:hover {
  background-color: #d7d7d7;
}

.company-list h1 {
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
  font-weight: bold;
}

.companies {
  text-align: center;
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.companies li {
  list-style: none;
}
.companies a {
  text-decoration: none;
  color: black;
  background-color: #64caeb;
  font-size: 22px;
  list-style: none;
  display: block;
  margin: 20px 0;
  padding: 35px;
  font-weight: 600;
  box-shadow: 0px 10px 50px -20px #333;
}
.companies a:hover {
  cursor: pointer;
  background-color: #A2DBEEFF;
}
.companies a span {
  font-size: 18px;
  display: block;
  margin-top: 10px;
  font-weight: normal;
  width: 100%;
}

.success-wrapper {
  height: 100vh;
  text-align: center;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success-wrapper .message {
  outline: 4px dotted blue;
  padding: 20px;
}
.success-wrapper .message h1 {
  margin-top: 0px;
  margin-left: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550, -8px 8px #f48fb1, -12px 12px #7e57c2, -16px 16px #2196f3, -20px 20px #26c6da, -24px 24px #43a047, -28px 28px #eeff41, -32px 32px #f9a825, -36px 36px #ff5722;
}
.success-wrapper .message p {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
